.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body {background-image: url(https://media2.giphy.com/media/3o7TKVqpxDqwGsyzBe/source.gif);
background-size: cover;}

{background-color: #E0FFFF;
}

.button{
	transition: 1s;
}

.btn.btn-outline-dark:hover{
	background-color: #B0C4DE;
	outline-color: black;
}

.button:hover{
	background-color: #9370DB;

}

.jumbotron-fluid{
	opacity: 1;
	background-image:  url(https://media1.giphy.com/media/3o7TKLKBXz6RVuEDDO/source.gif);
	background-position: center;
	background-size: cover;
	text-decoration-color: white;

}



.btn-light{background-color: #B0C4DE;
	border-color: black;

}

.button:hover{
	background-color:#FFF0F5;
	border-color: black;
	border-right-color: black;

}



 img{width: 550px;
 	height: 300px;
 	margin: 10px;
 	transition: all 1s;
 }

 