.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body {background-image: url(https://media2.giphy.com/media/3o7TKVqpxDqwGsyzBe/source.gif);
background-size: cover;}

.button{
	transition: 1s;
}

.button:hover{
	background-color: #9370DB;

}

.jumbotron-fluid{
	opacity: 1;
	background-image:  url(https://media1.giphy.com/media/3o7TKLKBXz6RVuEDDO/source.gif);
	background-position: center;
	background-size: cover;

}




.btn-light{background-color: #B0C4DE;

}

.btn-light:hover{
	background-color: #9370DB;
}



 img{width: 450px;
 	height: 450px;
 	margin: 10px;
 	transition: all 1s;
 }

 img:hover{
 	transform: scale(1.1);
 }